<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>TIC TAC TOE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="{%  static 'core/play.css' %}">
    
</head>
<body>
    <h1 class="text-center">TIC-TAC-TOE</h1>
    <h3 class="text-center"></h3>
    <div class="row">
        <div id="b00" class="b1 col-xs-4"></div>
        <div id="b01" class="b2 col-xs-4"></div>
        <div id="b02" class="b3 col-xs-4"></div>
        <div id="b10" class="b4 col-xs-4"></div>
        <div id="b11" class="b5 col-xs-4"></div>
        <div id="b12" class="b6 col-xs-4"></div>
        <div id="b20" class="b7 col-xs-4"></div>
        <div id="b21" class="b8 col-xs-4"></div>
        <div id="b22" class="b9 col-xs-4"></div>
    </div>
    <div class="text-center">
          <div class="btn play">Play as</div>
            <a href="/logout/" ><div class="btn">Logout</div></a>
              <h1>{{ win }}</h1>

    </div>
    <!-- modal box -->
    <div class="modal">
        <!-- Modal content -->
        <div class="modal-content text-center">             
            <p>Play as:</p>
          <div class="btn X" >X</div>
                <div class="btn O" >O</div>
          </div>

    </div>
<!--   <div class="col-xs-6 col-md-6">
       {% for game in game %}
       <div class="container">
           <div>Harsh</div>
       </div>
       <div class="cards">
           {{ game.id }}
       </div>
       {% endfor %}   
  </div>
 -->
</div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="{% static 'play.js' %}"  type="text/javascript"></script>

</body>
</html>
