<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Student List</title>
  </head>
  <script type="text/javascript">
    function openmodal(id)
    {
      email=id.previousElementSibling.innerHTML;
      $('#setemail')[0].value=email.replace(/\s/g,'');
      //$('#sendmailmodal').modal('show');
      console.log($('#setemail')[0]);
      //sendmailmodal.open

    }
  </script>
  <body style="padding-top: 20px ">
    <div class="container">
      <div class="card" style="width: 70rem;">
        <div class="card-header">
          <div class="row">
            <div class="col-sm">
              Enrollment
            </div>
            <div class="col-sm">
              Name 
            </div>
            <div class="col-sm">
              Email 
            </div>
          </div>
        </div>
        {% for user in users %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm">
              {{ user.enrollment }}
            </div>
            <div class="col-sm">
              {{ user.stud_key.first_name }}
            </div>
            <div class="col-sm">
              {{ user.stud_key.email }}
            </div>
            <button type="button" class="btn btn-primary" onclick="openmodal(this)" data-toggle="modal" data-target="#sendmailmodal">
              Send mail
            </button>
          </div>
        </li>
      </ul>
      {% endfor %}
      </div>
      <center>
     <button style="margin-top: 20px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm">
      Add Student
    </button>
    </center>
</div>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form class="form-signup" method="post" action="{% url 'adduser' %}">
            {% csrf_token %}
            <div class="md-form mb-5">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="orangeForm-name" name='enroll' class="form-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-name">Enrollemnt Number</label>
            </div>

            <div class="md-form mb-5">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="orangeForm-name" name='name' class="form-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-name">Name</label>
            </div>

            <div class="md-form mb-5">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="orangeForm-email" name="email" class="fowrm-control validate">
              <label data-error="wrong" data-success="right" for="orangeForm-email">email</label>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-deep-orange">Add Student</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="sendmailmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">SEND</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <form class="form-signup" method="post" action="{% url 'sendmail' %}">
              {% csrf_token %}
              <input id="setemail" type="hidden" name="email">
              <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="orangeForm-email">Description</label>
                <textarea rows="4" cols="50" name="description" class="form-control validate"></textarea>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange">SendMail</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>