body{
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);

} 
/*tic-tac-toe heading*/
h1{
  margin-bottom:6vh;
  color: white;
  font-weight: bold;
  font-family: Candal;
}
/*result*/
h3{
  display:none;
  color:black;
  font-family: Candal;
  font-size: 50px;
  margin-top: -5vh;
  font-weight: bold;
}
p{
  color: #fff;
  font-weight: bold;
  font-family: Candal;
}
.warning{
  color: white;
  font-weight:normal;
  font-family:arial;
}
.row{
  margin: 5vh auto;
  width:300px; height:300px;
}
.col-xs-4{
  height: 33.3%;
  width: 33.3%;
  border: solid black 1.5px;
  text-align: center;
  padding-top : 18px;
  box-shadow: 0 1px 20px black;
  color:white;
  font-family: Candal;
  font-size: 35px;
  font-weight: bold;
}
.btn{
  /*background: #53346D;*/
  background: #212121;
  color: white;
  font-size: 25px;
  font-weight:bold;
  font-family: Candal;
}
.btn:hover,.btn:focus,.btn:active{
   box-shadow: 0 2px 20px black ;
   color: #212121;
   background: white;
}
/* modal box */
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.7); 
}
/* Modal Content/Box */
.modal-content {
    background-color: orange;
    margin: 12% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60vh; 
}
div > div :nth-child(1) {
  font-size: 3em;
}
div > div :nth-child(2) {
  text-align: center;
  display: inline;
}
div > div :nth-child(3) {
  text-align: center;
  display: inline;
}
.row > div{
  background: #222;
}